<div id="map"></div>
<div class="layers">
  <a href="#" id="layers-button" data-activates="layers-list" class="btn-floating btn-large waves-effect waves-light button-collapse orange"><i class="material-icons">layers</i></a>
</div>
<%= render 'partials/sidenav' %>
<%= render 'partials/layers' %>
<%= render 'partials/info_bar' %>
<%= content_for :extrajs do %>
<%= javascript_include_tag 'layers', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= content_for :initialjs do %>
//var capaBase = new ol.source.Stamen({layer: 'watercolor'});
var capaBase = new ol.source.BingMaps({
      key: 'Al0ZOo9tUrolsImRH4tqzmlGyHauuCVG4olQL3WCv0Y67w9VqBS5z52xgsiYpgLH',
      imagerySet: 'AerialWithLabels'});
Mapa.Objeto.init('map',[-104.8875,21.4944],14,[]);
Mapa.Objeto.agregarTileLayer('OSM Layer',capaBase);
Mapa.Simbologia.init(document.getElementById('pestana'),document.getElementById('simbologia'),document.getElementById('simbologia-contenedor'),document.getElementById('simbologia-body'));
Mapa.Busqueda.init(document.querySelector('[data-open=search-panel]'), document.getElementById('search-panel'));
Mapa.Layers.init(document.getElementById('arbol_capas'),layers);
Mapa.LayersExternas.init(document.getElementById('arbol_capas'),layersExternas);
Mapa.FeaturesInfo.panel = document.getElementById('tabs-contenedor');
$('.button-collapse').sideNav({menuWidth: 350,closeOnClick: false});
$('.modal').modal();
<% end %>
