<a class="waves-effect waves-light btn modal-trigger hide" href="#modal1">Modal</a>
<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h5>Identificación de objetos</h5>
      <div class="divider"></div>
      <div id="tabs-contenedor" class="row" data-turbolinks="false">

      </div>
    </div>
  </div>
