<ul id="layers-list" class="side-nav">
  <li>
    <div class="user-view">
      <div class="background valign-wrapper center">
        <%= image_tag 'uaaan.png', alt: 'Universidad Autónoma Agraria Antonio Narro', class: 'img' %>
      </div>
    </div>
  </li>
  <li>
    <ul id="arbol_capas">
    </ul>
  </li>
</ul>
