<nav class="nav-extended">
  <div class="container">
    <div class="nav-wrapper">
      <a href="<%= root_path %>" class="brand-logo"><%= image_tag 'uaaan.png', width: '75' %></a>
      <ul class="right hide-on-med-and-down">
        <li><a>Enlace #1</a></li>
        <li><a>Enlace #2</a></li>
        <li><a data-open="search-panel"><i class="material-icons">search</i></a></li>
      </ul>
    </div>
  </div>
</nav>
<div id="search-panel" class="nav-content hidden">
  <div class="container">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</div>
