<div id="simbologia" class="simbologia">
  <div id="pestana" class="pestana">
    <i class="material-icons md-24">keyboard_arrow_left</i>
  </div>
  <div id="simbologia-contenedor" class="contenedor">
    <div class="simbologia-header"><p class="w-margin">Simbología</p></div>
    <div class="simbologia-body">
      <ul id="simbologia-body" class="collapsible w-margin" data-collapsible="expandable">
      </ul>
    </div>
  </div>
</div>
