/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require materialize
 *= require material_icons
 *= require_self
 *
 */

html, body{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav{
  background-color: rgb(228, 165, 50) !important;
  z-index: 11 !important;
}

/*
-----------------------------------------------
                  Animaciones
-----------------------------------------------
*/
@keyframes right-in {
  0%{
    /*opacity: 0;*/
    transform: translateX(15em);
    /*width: 0em;*/
  }
  100%{
    /*opacity: 1;*/
    transform: translateX(0em);
    /*width: 15em;*/
  }
}

@keyframes right-out {
  0%{
    /*opacity: 1;*/
    transform: translateX(0em);
    /*width: 15em*/
  }
  100%{
    /*opacity: 0;*/
    transform: translateX(15em);
    /*width: 0em;*/
  }
}

@keyframes fade-in-down {
  0%{
    opacity: 0;
    transform: translateY(-20em);
  }
  100%{
    opacity: 1;
    transform: translateY(0em);
  }
}

@keyframes fade-out-up {
  0%{
    opacity: 1;
    transform: translateY(0em);
  }
  100%{
    opacity: 0;
    transform: translateY(-20em);
  }
}

/*
  clases
*/
.right-in,.right-out,.fade-in-down,.fade-out-up{
  animation-duration: 0.5s;
}

.right-in{
  animation-name: right-in;
}

.right-out{
  animation-name: right-out;
}

.fade-in-down{
  animation-name: fade-in-down;
}

.fade-out-up{
  animation-name: fade-out-up;
}


/*
    Custom classes
*/
.hidden{
  display: none;
}

.img{
  height: 90%;
}

.center{
  justify-content: center;
}

.side-nav li > a:hover{
  background-color: rgba(61, 61, 61, 0.25);
  cursor: pointer;
}

.tabs .tab a:hover, .tabs .tab a.active{
  color: rgb(228, 165, 50) !important;
}

.tabs .indicator{
  background-color: rgb(228, 165, 50) !important;
}

.tabs .tab a{
  color: rgb(237, 181, 78) !important;
}
