/*
*= require ol.css
*/

@font-face {
  font-family: 'Material Icons';
  src: url(asset-path('MaterialIcons-Regular.woff2'));
}

#map{
  width: 100%;
  height: calc(100vh - 64px);
}

.ol-control button{
  display: none;
}

#layers-button{
  position: absolute;
  top: calc(64px + 6em);
  left: 5em;
}

.simbologia{
  position:absolute;
  top:64px;
  right: 0em;
  height: calc(100vh - 64px);
}

.simbologia > .contenedor{
  height: 100%;
  width: 15em;
  border-radius: 0.2em;
  // border: solid 0.2em rgb(77, 77, 77);
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: -5px 17px 30px 0px rgba(51, 51, 51, 0.66);
  -moz-box-shadow: -5px 17px 30px 0px rgba(51, 51, 51, 0.66);
  box-shadow: -5px 17px 30px 0px rgba(51, 51, 51, 0.66);
}

.simbologia-header{
  color: white;
  background-color: rgb(228, 165, 50);
  height: 3em;
  padding: 1em auto;
}

.simbologia-header>p{
  text-align: center;
  font-size: 1.5em;
}

.pestana{
  color: white;
  position: absolute;
  padding: 0.7em 0.5em 0.5em 0.4em;
  width: 2em;
  transform: translate(-100%);
  top: 50%;
  background-color: rgb(228, 165, 50);
  border-radius: 50% 0 0 50%;
  transition: ease 0.2s;
  cursor: pointer;
  display: block !important;
}

.pestana i{
  // transform: translateY(10%);
}

.pestana:hover{
  background-color: rgb(236, 180, 77);
  transition: ease 0.2s;
}

.w-margin{
  margin: 0em;
}

.hide-simbologia{
  right: 0em !important;
}

.background{
  height: 100%;
  background: rgb(241,231,103); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(top left, rgba(231, 219, 65, 1) 0%, rgba(254,182,69,1) 100%);
  background: -o-linear-gradient(top left, rgba(231, 219, 65, 1) 0%, rgba(254,182,69,1) 100%);
  background: linear-gradient(to bottom right, rgba(231, 219, 65, 1) 0%, rgba(254,182,69,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.user-view{
  height: 12em;
}

.nav-content{
  position: absolute;
  top:64px;
  width: 100%;
  z-index: 10 !important;
  background-color: rgb(228, 165, 50) !important;
}

.nav-content > i.material-icons{
  color: white !important;
}

.nav-content .input-field input[type=search]{
  padding: 0em 0em 0em 4em;
}

ul li.active {
  background-color: rgb(185, 185, 185) !important;
}

.side-nav .user-view, .side-nav .userView{
  margin-bottom: 0em !important;
}

.modal.bottom-sheet{
  max-height: 75% !important;
}
.collapsible-body{
  background-color: white;
}

.img-center-bottom{
  position: fixed;
  bottom: 0em;
  left: 37%;
  width: 100%;
  max-width: 15%;
  min-width: 10em;
  transform: translateY(-50%);
  transition: ease 0.2s;
  background-color: rgba(242, 242, 242, 0.2);
  border-radius: 0.3em;
  padding: 0.5em;
}

.img-center-bottom:hover{
  background-color: rgb(242, 242, 242);
  transition: ease 0.2s;
  padding: 0.5em 1em;
  max-width: 17%;
  min-width: 11em;
  box-shadow: 0 0 0.5em 5px rgb(56, 56, 56);
}
