<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for(:title) ? yield(:title) : 'Visualizador' %> | Antonio Narro</title>

  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'mapa', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
  <%= render 'partials/nav' %>
  <%= yield %>
  <%= javascript_include_tag 'mapa', 'data-turbolinks-track': 'reload' %>
  <%= content_for?(:extrajs) ? yield(:extrajs) : '' %>
  <a href="https://www.gob.mx/sagarpa" target="_blank"><%= image_tag 'sagarpa_logo.png', class: 'img-center-bottom' %></a>
  <script>
    <%= content_for?(:initialjs) ? yield(:initialjs) : '' %>
  </script>
</body>
</html>
